.homeSubContainer{
    width: 1476px;
    height: 840px;
    background-color: #131313;
    position: fixed;
    top: 8px;
    right: 8px;
    border-radius: 8px;
    overflow: auto;
    z-index: 2;
}

@media (min-height: 880px) and ( max-height: 880px){
  .homeSubContainer{
    width: 1476px;
    height: 782px;
    background-color: #131313;
    position: fixed;
    top: 8px;
    right: 8px;
    border-radius: 8px;
    overflow: auto;
    z-index: 2;
}
}
.container::-webkit-scrollbar {
    width: 8px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #A8A8A8; /* Customize the scrollbar thumb color */
    border-radius: 3px;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background-color: #808080; /* Customize the scrollbar thumb color on hover */
  }
  .homeVisibility.visible{
    z-index: 2;
  }
  .homeVisibility.notvisible{
    z-index: -2;
  }


